/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

#video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#video iframe {
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div>h4 {
    font-size: 120%;
    background-color: white;
    padding: 30px 30px 0 30px;
}

#preric {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: white;
}

ul{
    list-style: none;
}

li {
    padding: 10px 0;
}

h2, h3, h4, h5, p, #address{
    padding: 10px 0;
}

/* font */

body {
    font-family: open sans, Arial, Helvetica, sans-serif
}

i {
    font-size: 130%;
}

.fa-facebook {
    color: var(--color-icon-blue);

}

.fa-twitter {
    color: var(--color-icon-blue);
}

.fa-instagram {
    color: var(--color-icon-red);
}

.fa-pinterest-p {
    color: var(--color-icon-reder);
}

.fa-youtube {
    color: var(--color-icon-reder);
}

/* assets */

h1 {
    color: var(--color-contrast);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Nerko One';
    text-transform: uppercase;
    font-size: 2em;
}

#ads {
    display: none;
}

#upcase {
    text-transform: uppercase;
}

#sovrat{
    color: gray;
    font-style: normal;
    text-transform: uppercase;
}

#upcase:after {
    content: "";
    display: inline-block;
    width: 50px;
    border: 2px solid var(--color-contrast);

}

#row-social {
    margin: 10px 0;
}

.button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
}

main {
    background-color: var(--color-bg-color);
    padding-top: 40px;
}

footer, .link {
    background-color: var(--color-primary);
    color: white;
}


.container {
    padding: 10px;
}

.inv {
    display: none;
}



/* custom variables */

:root {
	--color-white: #ffffff;
	--color-bg-color: #d9d9d9;
	--color-primary: #7c69a4;
	--color-dark-text: #4e3969;
	--color-black: #282529;
	--color-contrast: #fa961a;
	--color-icon-red: #ea5556;
	--color-icon-blue: #2871f0;
    --color-icon-reder: #e62222;
}


/* utility */
.debugz {
    border: 1px solid red;
}


/* flex utility */

.flex {
    display: flex;
}

.spa-bet {
    justify-content: space-between;
}

.spa-eve {
    justify-content: space-evenly;
}

.gap-standard {
    gap: 20px;
}
/* position utility */

.relative {
    position: relative;
}

.float-left {
    float: left;
}

.wrap {
    flex-wrap: wrap;
}


/* media query */

@media  screen and (min-width: 576px) {
    .disappear {
        display: block;
    }
}
